<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/forecast.png">
</head>
   {{>header}}
<body>
    <div id="weather-main-div">
    <img id='pro-pic-id' src="/img/itachi.jpg">
    <p id='profile-name'>Venkatesh</p>
    <p id='profile-cont'>Node js developer</p>
    </div>
</body>
{{>footer}}
</html>