<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/forecast.png">
</head>
{{>header}}
<body>  
    <div id="help-main-div">
    <p id='help-msg'> {{ message }}</p>
    <p id='help-msg-cont'>Content will be added but date will be announced later :-)</p>
    </div> 
</body>
{{>footer}}
</html>